<div class="main lessons-index">
  <div class="container">
    <% @lessons.each do |lesson| %>
      <div class="lessons-index-item">
        <%= link_to(lesson.name, "lessons/#{lesson.id}") %>
      </div>
      <div class="lessons-index-item">
        <p><%= lesson.description %></p>
      </div>
    <% end %>
  </div>
</div>
