<div class="main lessons-index">
  <div class="container">
    <div class="lessons-show-item">
      <%= @lesson.name %>
      <div class="post-time">
        <%= @lesson.created_at %>
      </div>
    </div>
  </div>
</div>
